/* 
    Document   : style
    Created on : 2013-04-19, 21:43:10
    Author     : dawid
    Description:
        Purpose of the stylesheet follows.
*/

﻿html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

﻿h1 {
	font-size: 30px;
	margin-bottom: 15px;
	color: #109410;
}

h2 {
	font-size: 24px;
	margin-bottom: 12px;
	color: #a7a9a8;
}

h3 {
	font-size: 20px;
	margin-bottom: 8px;
	color: #898386;
}

p {
	margin-bottom: 7px;
	color: #595959;
	font-size: 14px;
	line-height: 18px;
	text-align: justify;
}

body {
	background-color: #fff;
}

#header-container {
	width: 100%;
	height: 100px;
	background-color: #323034;
}

#header {
	width: 960px;
	height: 85px;
	margin: 0px auto;
	padding-top: 5px;
}

#container {
	width: 100%;
	height: auto;
	padding: 30px 0px;
	background-color: #f4f4f4;
}

#content {
	width: 900px;
	min-height: 300px;
	margin: 0px auto;
	padding: 30px;
	border: 1px solid #d7d9d8;
	border-radius: 15px;
	background-color: #fff;
}

#footer-container {
	width: 100%;
	height: 190px;
	background-color: #323034;
}

#footer {
	width: 960px;
	height: inherit;
	margin: 0px auto;
}

#footer-middle {
	float: left;
	width: 360px;
	height: 150px;
	margin: 20px 20px;
	padding-right: 20px;
}

#footer-left {
	float: left;
	width: 159px;
	height: 120px;
	margin: 10px 10px;
	padding-top: 50px;
	color: #fff;
	border-right: 1px solid #414742;
}

#footer-right {
	float: left;
	width: 359px;
	height: 170px;
	margin: 10px 0;
	border-left: 1px solid #414742;
}

#footer-copyright {
	width: 100%;
	height: 30px;
	background-color: #222024;
}

#footer-copyright p {
	width: 960px;
	heigth: 30px;
	margin: 0px auto;
	line-height: 30px;
	text-align: center;
}

.clear {
	clear: both;
}

.green {
	color: #109410;
}

.footer-image {
	margin: 15px 18px;
}

.footer-text {
	color: #838584;
	font-size: 13px;
}

.footer-line-height {
	line-height: 150px;
}

.button-style {
	-moz-box-shadow:inset 0px 1px 0px 0px #a4e271;
	-webkit-box-shadow:inset 0px 1px 0px 0px #a4e271;
	box-shadow:inset 0px 1px 0px 0px #a4e271;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3ac710), color-stop(1, #37a60c) );
	background:-moz-linear-gradient( center top, #3ac710 5%, #37a60c 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3ac710', endColorstr='#37a60c');
	background-color:#3ac710;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #3fb807;
	display:inline-block;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:15px;
	font-weight:normal;
	padding:6px 24px;
	margin-top: 10px;
	text-decoration:none;
	text-shadow:1px 1px 0px #0a8022;
}

div#mainMenu{
    margin-bottom: 20px;
    
}

.button-style:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #37a60c), color-stop(1, #3ac710) );
	background:-moz-linear-gradient( center top, #37a60c 5%, #3ac710 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#37a60c', endColorstr='#3ac710');
	background-color:#37a60c;
}

.button-style:active {
	position:relative;
	top:1px;
}

div#content{
    min-height:450px;
}

td.left{
    padding-right: 50px;
}

input {
    width:400px;
}

input.button {
    width:100px;
    cursor: pointer;
}